
body {
    font-family: "Helvetica Neue", Helvetica;
    padding: 2em;
    background: black
}

h1 {
    font-weight: 300;
    text-align: center;
    color: #888;
}

#status {
    height: 4em;
    color: #555;
    text-align: center;
}
/*
input[type=text] {}

input[type=submit] {}
*/
.hide {
    display: none;
}

#konva {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.sensitivitySetter {
    width: 50%;
}

.sensitivitySetter:disabled {
    opacity: 0.3;
    pointer-events: none;
}

#sliderfield {
    color: #FFF;
    position: fixed;
    bottom: 0px;
}